body{
    justify-content: center;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
}

h1{
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;
}

.listGroup{
	list-style: decimal;
}

.list-group li{
    border-bottom: 2px double black;
    font-weight: bold;
    width: fit-content;
    
}